name: release

on:
  push:
    branches:
      - main
    # Sequence of patterns matched against refs/tags
    tags:
      - 0.*

jobs:
  if_release:
    if: |
        true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v1
        with:
          python-version: "3.12"
      - name: Build project for distribution
        run: uv run --with build python -m build
      - name: Publish to PyPI
        env:
          PYPI_API_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
        run: uv publish --token "$PYPI_API_TOKEN"
